<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>45862518367-7jcm4lj3fpcmqd0vu0ugnhfl2dvdep5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.45862518367-7jcm4lj3fpcmqd0vu0ugnhfl2dvdep5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDelky4GJt8x1GPreTXrF-W0uc_hB4yi4E</string>
	<key>GCM_SENDER_ID</key>
	<string>45862518367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs329e.AliashkevichKatsiaryna-HW5</string>
	<key>PROJECT_ID</key>
	<string>fir-hw6-14208</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-hw6-14208.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:45862518367:ios:dd39d0ebd2b298726ea5ea</string>
</dict>
</plist>